In [1]:
import json
from pandas import json_normalize
import pandas as pd
import numpy as np

In [2]:
def formatting_fquad(dataset_file, display=False):
    with open(dataset_file, encoding='utf-8') as f:
        raw_data = json.load(f)
        raw_data = raw_data['data']
        raw_data = json_normalize(raw_data)['paragraphs']
        context = []
        question = []
        answer_start = []
        text = []
        for i in range(len(raw_data)):
            for j in range(len(raw_data[i])): 
                for k in range(len(raw_data[i][j]['qas'])):
                    if (len(raw_data[i][j]['qas'][k]['answers']) != 0):
                        question.append(raw_data[i][j]['qas'][k]['question'])
                        answer_start.append(raw_data[i][j]['qas'][k]['answers'][0]['answer_start'])
                        text.append(raw_data[i][j]['qas'][k]['answers'][0]['text'])
                        context.append(raw_data[i][j]['context'])
                    else:
                        continue
        data = pd.DataFrame({"context":context, "question": question, "answer_start": answer_start, "text": text})
        if display is True:
            print(data.shape)
        return data

In [3]:
train_data = formatting_fquad('train.json')
train_data = train_data[train_data['context'].apply(lambda x: len(x)<500)].reset_index(drop=True)
print(train_data.shape)
train_data.head(3)

(2450, 4)

,context,question,answer_start,text
0,"L'Andrea Moda S921, engagée dans le cadre du c...",A quelle écurie appartient l'Andrea Moda S921 ?,145,Andrea Moda Formula
1,"L'Andrea Moda S921, engagée dans le cadre du c...",A quels deux pilotes étaient initialement dédi...,209,Alex Caffi et Enrico Bertaggia
2,"L'Andrea Moda S921, engagée dans le cadre du c...",Quelle est la cause du licenciement des pilote...,257,leurs déclarations peu flatteuses à l'égard de...

In [4]:
valid_data = formatting_fquad('valid.json')
valid_data = valid_data.reset_index(drop=True)
print(valid_data.shape)
valid_data.head(3)

(3188, 4)

,context,question,answer_start,text
0,Les deux tableaux sont certes décrits par des ...,Que concerne principalement les documents ?,161,La Vierge aux rochers
1,Les deux tableaux sont certes décrits par des ...,Par quoi sont décrit les deux tableaux ?,46,documents contemporains
2,Les deux tableaux sont certes décrits par des ...,Quels types d'objets sont les deux tableaux au...,204,objets de spéculations

In [5]:
for j,i in enumerate(train_data['context'][1]):
    if i.startswith('2'):
        print (i,j)

2 16
2 82